<div>
  <label for="">Amount</label>
  {{input value=amount}}
</div>

<div>
  <label for="">Description</label>
  {{input value=description}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
