<h3>Saldo {{total}}</h3>

<p>{{#link-to 'invoice_items.new'}}Nueva Deuda{{/link-to}}</p>
<p>{{#link-to 'invoice_items.payment'}}Nuevo Abono{{/link-to}}</p>


<table>
  <tr>
    <th>Fecha</th>
    <th>Descripción</th>
    <th>Valor</th>
  </tr>
  {{#each}}
    <tr>
      <td>{{from-now createdAt}} - </td>
      <td>{{description}}</td>
      <td>{{amount}}</td>
    </tr>
  {{/each}}
</table>
