<div>
  <label>Name {{input value=name class='account-name'}}</label>
</div>

<button type="submit" {{action 'save' this}}>Save</button>
<button type="submit" {{action 'cancel' this}}>Cancel</button>
